@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/ShareTechMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-black: #101010;
  --color-green: #00ff00;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  background: var(--color-black);
  color: var(--color-green);
}

a {
  color: var(--color-green);
}

::webkit-scrollbar {
  display: none;
}
