@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/ShareTechMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #101010;
  --color-green: #00ff00;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  line-height: 25px;
  background: var(--color-black);
  color: var(--color-green);
}

p {
  font-size: 15px;
}

a {
  color: var(--color-green);
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 9px 15px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  line-height: 25px;
  border: 1px solid var(--color-green);
  background-color: transparent;
  color: var(--color-green);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-green);
  color: var(--color-black);
}

::webkit-scrollbar {
  display: none;
}
